/*font*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*header*/

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 88px;
    width: 100%;
    border-bottom: 2px solid #696DBF;
}

.gfs{
    align-self: center;
}

.gfs img{
    height: 90px;
    width: 100px;
    margin: 2px;
}

/*menu*/

.topnav {
    /* For desktop */
    display: none 
}

.span {
    position: absolute;
    right: 0;
    padding: 1.6rem;
    font-size: 24px;
    color: grey;
}

.span img{
    width: 40px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-align:left;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: grey;
    display: block;
    transition: 0.3s;
  
  }

  .sidenav img{
      width: 40px;
  }

  .sidenav .menu {
    padding-top: 88px;
  }

  .sidenav .menu .item {
      display: flex;
      justify-content: space-between;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      border-top: 2px solid var(--primary-grey);
  }

  .sidenav .menu .item img {
      height: 16px;
      width: 16px;
      padding: 8px 32px 8px 8px;
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    right: 0;
    font-size: 24px;
    padding: 1.6rem;
    color: var(--primary-grey);
  }
